@{
    ViewData["Title"] = "Bienvenido al Banco";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #007bff;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        h1 {
            margin-bottom: 10px;
        }

        main {
            padding: 20px;
        }

        section {
            background: white;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .responsive-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
        }

        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #007bff;
            color: white;
            position: relative;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenido al Banco</h1>
    </header>

    <main>
        <section>
            <h2>¡Estamos aquí para ayudarte!</h2>
            <p>En nuestro banco, te ofrecemos los mejores servicios financieros para gestionar tu dinero de manera eficiente.</p>
            <img src="https://www.lampadia.com/wp-content/uploads/2022/10/Un-Nobel-para-entender-a-los-bancos-WEB.jpg" alt="Imagen de Banco 1" class="responsive-image"/>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 Banco. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

